@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
}


.home-btn {
    background-color: #930eff;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    outline: none;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 50px;
}

.home-btn:hover {
    background-color: #FFFFFF;
    color: #0e46ff;
    border: 1px solid #0e46ff;
    padding: auto;
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: transform 0.5s ease;
}

.pay {
    padding: 5px 15px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    background-color: #930eff;
}

.pay:hover,
.nav-name:hover {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    /* border: 1px solid #0e46ff; */
    background: none;
    color: black;
}

.nav-name {
    padding: 5px 35px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    background-color: #930eff;
}

.nav-name .fa-user {
    color: #FFFFFF;
    margin-top: 2px;
    text-shadow: #0000006e 0.5px 1px 5px;
    margin-left: -1rem;
    position: absolute;
}

.nav-name .fa-caret-down {
    color: #FFFFFF;
    margin-top: 2px;
    text-shadow: #0000006e 0.5px 1px 5px;
    margin-left: 5px;
    position: absolute;
}

.header {
    background: #e7f5ff;
}

.navbar-nav {
    margin-left: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 35px 0 15px 0;
}

.nav-title a {
    font-weight: 700;
    font-size: 35px;
    line-height: 53px;
    color: #131313;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    gap: 50px;
}

.nav-menu a {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
}

.nav-menu .home:hover,
.nav-menu .about:hover {
    color: #8404ec;
    transform: scale(1.1, 1.1);
}

.home,
.about,
.login {
    color: #000;
}

.header-content,
.header-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-detail {
    width: 862px;
    text-align: center;
}

.content-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}

.content-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 30px 0;
}

.header-img {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.header-img img {
    width: 95%;
    border-radius: 10px;
}

/* search */
.search {
    margin-top: -20px;
    padding: 0px 0px 50px 0px;
}

.search input {
    border: none;
    border-radius: 25px;
    width: 50%;
    padding: 10px 20px;
    outline: none;
}

.search input::placeholder,
.select-op::placeholder {
    font-size: 18px;
}

.select-op {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    outline: none;
    padding: 12px 10px;
    width: 50%;
    border-radius: 8px;
}

option {
    padding: 200px;
}

.button-container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    margin-top: 20px;
    margin-bottom: 20px;
    /* Adjust the margin as needed */
}

.button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    /* Button background color */
    color: #fff;
    /* Button text color */
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.button-container button:hover {
    background-color: #0056b3;
    /* Hover background color */
}

/* Add space between buttons */
.button-container button:first-child {
    margin-right: 100px;
    /* Adjust the margin as needed */
}

.button-container button:not(:first-child) {
    margin-left: 100px;
    /* Adjust the margin as needed */
}


/* .fa-solid {
    position: absolute;
    margin-left: -27px;
    margin-top: 14px;
    color: rgb(209, 9, 9);
} */
.fa-magnifying-glass {
    color: grey;
    position: absolute;
    margin-left: -27px;
    margin-top: 14px;
}

.bs {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

.smallimg {
    height: 200px;
    width: 100%;
    border-radius: 5px;
}

.bigimg {
    height: 400px;
    border-radius: 5px;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.col-md-7 h1 {
    font-size: 20px;
    text-align: left;
}

.text {
    text-align: left;
    font-weight: bold;
}

.view {
    background-color: #930eff;
    padding: 9px 15px;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin-left: 15px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
}

.box-shadow,
.box-shadow-loc {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    padding: 20px;
}

h3,
.homeimg-content {
    color: #000;
    background-color: rgba(255, 255, 255, 0.4);
}

/* ==== LocationScreen ====*/
.loc-search {
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 40%;
    padding: 10px;
    margin-top: 10px ;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
}

.loc-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    background: transparent;
    outline: none;
    border-radius: 4px 0 0 4px;
    width: 90%;
}

.fa-location-crosshairs {
    color: grey;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.loc-search input::placeholder {
    font-size: 18px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
    padding: 10px;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 250px;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.611);
    color: #fff;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.grid-item:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 14px;
    margin-bottom: 20px;
}

/* styles.css */

/* Global styles */
.jk{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .containerr {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Section styles */
  section {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  
  h2 {
    font-size: 28px;

    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  
  }
  
  /* About section styles */
  #about h2 {
    color: #007bff; /* Blue color for headings */
  }
  
  /* Story section styles */
  #story h2 {
    color: #ff5722; /* Orange color for headings */
  }
  
  /* Mission section styles */
  #mission h2 {
    color: #4caf50; /* Green color for headings */
  }
  
  /* Team section styles */
  #team h2 {
    color: #f44336; /* Red color for headings */
  }
  
 
  /* Add more specific styles as needed */
  
  /* You can customize these styles further to match your design preferences */
  

/* Pagination styles for Next and Previous buttons */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 16px;
    cursor: pointer;
}

/* Styles specifically for the "Next" button */
.pagination button.next {
    background-color: #007bff; /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
}

/* Styles specifically for the "Previous" button */
.pagination button.prev {
    background-color: #ff4500; /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
}

.pagination button:hover {
    background-color: #e0e0e0;
}

/* login  */

.gifs {
    
    background-size: cover;
    background-position: center;
    color: #000;
    height: 650px;
    background-repeat: no-repeat;
}

.glass {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    background: linear-gradient(#e7f5ff, rgba(255, 255, 255, 0));
}

.rl {
    padding-top: 100px;
}

.rlb {
    margin-top: 50px;
    padding: 5px;
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
    letter-spacing: 2px;
    width: 40%;
    color: #000;
    box-shadow: 4px 2px 10px 0px rgba(30, 30, 32, 0.678);
    font-size: 20px;
}

.rlb:hover {
    border-radius: 15px;
    transition: all 0.5s ease;
    box-shadow: 4px 2px 10px 0px rgba(27, 27, 29, 0.678);
}

.form {
    background: transparent;
    outline: transparent;
    margin-top: 40px;
    border: none;
    font-size: 20px;
    width: 40%;
    border-bottom: 3px solid rgb(92, 88, 88);
}

.form:focus {
    border-bottom: 3px solid #050505;
    transition: all 1s ease;
}

.form::placeholder {
    font-size: 20px;
    letter-spacing: 2px;
    color: #000;
}

.click-lo-ri {
    color: black;
    font-size: 20px;
    cursor: pointer;
}

/* ======= Booking Screen ======== */

.details {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.booking-row {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 150px;
    margin-top: 100px;
}

.booking-row .left {
    overflow: hidden;
    display: flex;

}

.booking-row .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.booking-row .right {
    display: flex;
    align-items: center;
}

.booking-row .right .cont {
    padding-left: 20px;
}


/* ===== Success ===== */
.alert-success {
    background-color: green;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

/* ====== error ====== */
.alert-danger {
    background-color: rgb(192, 39, 39);
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

.range {
    padding: 20px;
}

.ant-picker {
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;

}

.ant-picker ::placeholder {
    font-size: 20px;
    color: #0000007e;
}

.ant-picker .ant-picker-input>input:placeholder-shown {
    text-overflow: ellipsis;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.ant-picker-dropdown .ant-picker-header {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.329);
    padding: 10px;
    color: #000;
    border-radius: 5px;
    margin: 10px;
    background-color: #e7f5ff;
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-body {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.329);
    padding: 10px;
    color: #000;
    border-radius: 5px;
    margin: 10px;
    background-color: #e7f5ff;
}

.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
    display: block;
    flex-wrap: nowrap;
    direction: ltr;

}

.ant-picker-dropdown {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: 1050;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-picker-dropdown .ant-picker-panel {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 8px;
    outline: none;
}

.ant-picker .ant-picker-input>input {
    text-overflow: ellipsis;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

/* =====Swal==== */
.swal2-icon.swal2-success .swal2-success-ring {
    position: absolute;
    z-index: 2;
    top: -0.25em;
    left: -0.25em;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 0.25em solid rgba(113, 225, 49, 0.3);
    border-radius: 50%;
}

.swal2-styled.swal2-confirm {
    background-color: #930eff;
    padding: 10px 25px;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: rgb(7, 204, 7);
}

.swal2-title,
.swal2-html-container {
    color: black;
}

/*  swal error */
.swal2-title,
.swal2-html-container {
    color: black;
}

/* ======= food container ========*/

.food-main {
    width: 100%;
    display: grid;
    place-items: center;
}

.food-header {
    border-bottom: 2px solid black;
}

.food-container {
    width: 80%;
    max-width: 1160px;
    display: grid;
    padding: 20px;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;

}

.head {
    display: flex;
}

.food-name {
    margin-left: 70px;
    font-size: 20px;
    text-transform: uppercase;
}

.food-left {
    overflow: hidden;
}

.food-left img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
}

.food-left img {
    transition: all 1.5s ease;
}

.food-left img:hover {
    transform: scale(1.3);
}

.food-right .food-details {
    padding-left: 20px;

}

.food-right .food-details p {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}

/* ==== profileScreen ===== */
.profi-p {
    font-size: 20px;
    text-align: left;
}

.pro-bs {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 7px;
    width: 90%;
    margin-left: 20px;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-tabs .ant-tabs-tab {
    font-size: 22px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 7px 15px;
    margin: 10px;
    border-radius: 5px;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-tabs .ant-tabs-tab+.ant-tabs-tab {
    margin: 10px;
    margin-left: 50px;
}

/* ==== tabs ==== */

.ant-tabs .ant-tabs-tab.ant-tabs-tab .ant-tabs-tab-btn {
    color: white;
    margin: 10px;
    border-radius: 5px;
    background: yellow;
    outline: none;
    padding: 10px 15px;
    text-shadow: 0 0 0.25px currentcolor;
    background-color: #930eff;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

/* ======= Table ======= */

.table-container {
    width: 95%;
    margin: 40px auto 0;
}

.heading {
    text-align: center;
    margin-bottom: 40px;

}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr th {
    font-size: 14px;
    font-weight: medium;
    background-color: #c9d8e2;
    letter-spacing: 0.35px;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid white;
}

table tbody tr td {
    letter-spacing: 0.35px;
    font-size: 14px;
    font-weight: normal;
    background-color: #e7f5ff;
    padding: 8px;
    text-align: center;
    border: 1px solid white;
}

/*  ==== === about === ==== */
 #about h2 {
    color: #007bff; /* Blue color for headings */
  }
  
  /* Story section styles */
  #story h2 {
    color: #ff5722; /* Orange color for headings */
  }
  
  /* Mission section styles */
  #mission h2 {
    color: #4caf50; /* Green color for headings */
  }
  
  /* Team section styles */
  #team h2 {
    color: #f44336; /* Red color for headings */
  }
  /* Team Component styles */

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center the cards */
    align-items: center; /* Vertically center the cards */
    text-align: center;
    margin-top: 20px; /* Add margin for spacing at the top (adjust as needed) */
  }
  
  .team-member {
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    margin: 20px; /* Add margin around each card */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Add a smooth hover effect */
  }
  
  .team-member:hover {
    transform: translateY(-5px); /* Move the card up slightly on hover */
  }
  
  .team-member img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .team-member h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
  }
  
  .team-member p {
    font-size: 14px;
    color: #666;
  }
  
  /* Media query for responsiveness (adjust as needed) */
  @media screen and (max-width: 768px) {
    .team-member {
      width: calc(50% - 20px);
    }
  }
  
  /* Media query for mobile devices (adjust as needed) */
  @media screen and (max-width: 480px) {
    .team-member {
      width: 100%;
    }
  }
  

/* === admin === */

.admin-add-new input {
    width: 80%;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid #000;
    outline: none;
}


/* ====== footer ====== */

.footer {
    background-color: #e7f5ff;

}

.footer .footer-mm {
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem;
}

.footer .footer-link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.footer .footer-link-div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer a {
    text-decoration: none;
    margin: 3px;
}

.footer .socail-media {
    display: flex;
    flex-direction: row;
}

.social-media i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 5px 15px;
    font-size: 18px;
    padding: 6px 0 0 6.8px;
    background: #930eff;
    gap: 5px;
}

.footer-link-div h4 {

    line-height: 17px;
    margin-bottom: 0.9rem;
}

.footer-link-div p {

    line-height: 15px;
    margin-bottom: 0.5rem 0;
    cursor: pointer;
}

.footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.below-links {
    display: flex;
    flex-direction: row;
}

.below-links p {

    line-height: 15px;
    margin-left: 2rem;
    font-weight: 600;
}

.footer hr {
    width: 100%;
}

.footer .copyright {

    line-height: 15px;
    font-weight: 600;
}

/* ======= LandingScreen ======= */

.land-page-img {
    background: url("./img/land.jpg");
    background-size: cover;
    background-position: center;
    color: #000;
    height: 550px;
    background-repeat: no-repeat;
}

.land-hover {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);
    background: #00000032;
}

.land-hover h1 {
    padding-top: 120px;
    font-size: 60px;
    color: #ffff;
}

.land-hover h3 {
    margin-top: 50px;
    padding: 10px;
}

.land-hover button {
    margin-top: 50px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px 40px;
    outline: none;
    border: none;
    background: transparent;
    color: black;
    transition: all 0.5s ease;
    box-shadow: 3px 2px 10px 0px rgba(14, 14, 14, 0.781);
}

.land-hover button:hover {
    background-color: #930eff;
    color: white;
}

/* ====== contact ====== */

.cont-container {
    height: 670px;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    background: transparent;
}

.cont-container .cont-wrap img {
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease;
}

.cont-container .cont-wrap img.active {
    height: 470px;
    width: 350px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
}

.cont-wrap .cont-title {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    line-height: 25px;
}

.cont-wrap .cont-place {
    color: #fff;
    font-size: 17px;
    line-height: 0px;
    margin: 10px 0;
}

.cont-container i {
    padding: 0px 6px;
    margin-top: -10px;
    position: relative;
}

.cont-content {
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    padding: 1px 20px 10px 20px;

}

.cont-container .cont-btn button {
    margin-top: 50px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px 40px;
    outline: none;
    border: none;
    background: transparent;
    color: black;
    transition: all 0.5s ease;
    box-shadow: 3px 2px 10px 0px rgba(14, 14, 14, 0.781);
}

.cont-hover button:hover {
    background-color: #930eff;
    color: white;
}

.cont-container .cont-btn button a {
    text-decoration: none;
    color: white;
}

.txt-shadow {
    text-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

.cont-img {
    background: url("./img/cont.jpeg");
    background-size: cover;
    background-position: center;
    color: #000;
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
}

.cont-hover {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);
    background: #00000032;
}

@media (max-width:991px) {
    .booking-row .right .cont {
        padding-left: 0;
    }

    .food-container .food-right .food-details {
        padding-left: 0;
    }
}

@media screen and (max-width:886px) {

    .nav-menu {
        width: 100%;
        justify-content: space-around;
        gap: 0;
    }

    .nav-title {
        margin: -30px 0 10px 0;
    }

    .header-detail {
        width: 100%;
        padding: 20px;
    }

    .form,
    .rlb {
        width: 60%;
    }

    .ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
        position: absolute;
    }

    .ant-picker-dropdown .ant-picker-date-panel {
        display: flex;
        background-color: white;
        flex-direction: column;
        width: 348px;
    }

    .ant-picker-dropdown .ant-picker-date-panel .ant-picker-content th {
        width: 44px;
    }

    .ant-picker-dropdown .ant-picker-content th {
        height: 56px;
        color: rgba(0, 0, 0, 0.88);
        vertical-align: middle;
    }

    .ant-picker-dropdown .ant-picker-content th {
        position: relative;
        min-width: 110px;
        font-weight: normal;
    }

    .ant-picker-dropdown .ant-picker-cell .ant-picker-cell-inner {
        position: relative;
        z-index: 2;
        display: inline-block;
        min-width: 24px;
        height: 44px;
        line-height: 24px;
        border-radius: 4px;
        transition: background 0.2s, border 0.2s;
    }

    .ant-picker-dropdown .ant-picker-header-view button {
        color: inherit;
        font-weight: inherit;
        vertical-align: top;
        border: 1px solid rgba(0, 0, 0, 0.329);
        border-radius: 5px;
        background: transparent;
        text-align: center;
        padding: 10px;
        margin-left: 20px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        gap: 25px;
    }

    .loc-search {
        width: 80%;
        padding: 3px;
    }

    .about {
        width: 10%;
    }
}

@media (max-width:768px) {
    .booking-row {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .food-container {
        width: 80%;
        grid-template-columns: 1fr;

    }

    .head {
        display: block;
    }

    .food-name {
        margin-left: 5px;
    }

    .food-container {
        grid-gap: 10px 30px;
    }

    .table-container table thead {
        display: none;
    }

    .table-container table,
    .table-container table tbody,
    .table-container table tr,
    .table-container table td {
        display: block;
        width: 100%;
    }

    .table-container table tr {
        margin-bottom: 15px;
    }

    .table-container table tbody tr td {
        text-align: right;
        padding: 20px;
        padding-left: 50%;
        position: relative;
    }

    .table-container table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        font-size: 14px;
        text-align: left;
    }

    /* table */
    .table-container table thead {
        display: none;
    }

    .table-container table,
    .table-container table tbody,
    .table-container table tr,
    .table-container table td {
        display: block;
        width: 100%;
    }

    .table-container table tr {
        margin-bottom: 15px;
    }

    .table-container table tbody tr td {
        text-align: right;
        padding: 20px;
        padding-left: 50%;
        position: relative;
    }

    .table-container table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }

    .about h1,
    .about p,
    .about li,
    .about h3 {
        padding: 20px;
        margin-left: 20px;
        text-align: start;
    }

    /* === land === */
    .land-hover h1 {
        padding-top: 100px;
        font-size: 50px;
    }
}


@media screen and (max-width:576px) {

    .nav {
        flex-direction: column;
    }

    .nav-menu {
        width: 100%;
        justify-content: space-around;
        gap: 0;
    }

    .nav-menu a {
        padding: 0px 10px;
        font-size: 15px;
        
    }

    .nav-title {
        margin: -30px 0 10px 0;
    }

    .header-detail {
        width: 100%;
        padding: 20px;
    }

    .box-shadow {
        margin: 20px;
    }

    .box-shadow-loc {
        margin: 20px;
    }

    .search input {
        width: 70%;
    }

    .form,
    .rlb {
        width: 70%;
    }

    .ant-picker-dropdown .ant-picker-content th {
        height: 56px;
        color: rgba(0, 0, 0, 0.88);
        vertical-align: middle;
    }

    .ant-picker-dropdown .ant-picker-content th {
        min-width: 46px;
    }

    .view {
        margin-top: 20px;
    }

    .select-op {
        width: 95%;
        margin-top: -20px;
        border-radius: 8px;
    }

    .search input {
        width: 95%;
    }

    .table-container table thead {
        display: none;
    }

    .table-container table,
    .table-container table tbody,
    .table-container table tr,
    .table-container table td {
        display: block;
        width: 100%;
    }

    .table-container table tr {
        margin-bottom: 15px;
    }

    .table-container table tbody tr td {
        text-align: right;
        padding: 20px;
        padding-left: 50%;
        position: relative;
    }

    .table-container table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        font-size: 14px;
        text-align: left;
    }

    /* table */

    .table-container table tbody tr td {
        text-align: right;
        padding: 20px;
        padding-left: 10%;
        position: relative;
    }

    .table-container table td::before {
        width: 50%;
    }

    .nav-menu .pay {
        margin-left: 15px;
    }

    .nav-menu .home,
    .about {
        margin-top: 5px;
    }

    .img {
        height: 200px;
    }

    /* ==== footer ==== */

    .footer-link-div {
        margin: 1rem 0;
    }

    .footer-below {
        flex-direction: column;
        justify-content: center;
    }

    .below-links {
        flex-direction: column;
    }

    .below-links p {
        margin-left: 0rem;
        margin-top: 1rem;
    }

    /* === land === */

    .land-hover h1 {
        padding-top: 80px;
        font-size: 40px;
    }

    /* ==== about ==== */

    .about video {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;
        width: 340px;
        height: 200px;
    }

    .about {
        width: 100%;
    }
}